Импортируем библиотеки, используемые в дальнейшем

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Прочитаем значения из файла

In [2]:
filepath = "data/HW1_var_5.csv"
data_df = pd.read_csv(filepath, sep=';')
print("data_df shape:", data_df.shape)
data_df.head()

data_df shape: (10243, 44)

,Номер варианта,ID,INCOME_BASE_TYPE,CREDIT_PURPOSE,INSURANCE_FLAG,DTI,SEX,FULL_AGE_CHILD_NUMBER,DEPENDANT_NUMBER,EDUCATION,...,own_closed,min_MnthAfterLoan,max_MnthAfterLoan,dlq_exist,thirty_in_a_year,sixty_in_a_year,ninety_in_a_year,thirty_vintage,sixty_vintage,ninety_vintage
0,5,1000005,Поступление зарплаты на счет,Покупка недвижимости/ строительство,1,0.26,мужской,0,0,среднее,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5,1000025,Поступление зарплаты на счет,Покупка автомобиля,1,0.45,мужской,1,0,высшее,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,1000045,2НДФЛ,Ремонт,1,0.49,мужской,0,0,высшее,...,0.0,66.0,66.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5,1000065,Форма банка (без печати работодателя),Ремонт,1,0.38,мужской,1,0,Высшее/Второе высшее/Ученая степень,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1000085,Поступление зарплаты на счет,Ремонт,0,0.16,мужской,1,0,высшее,...,0.0,49.0,86.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Видим, что у нас имеется 44 колонки и 10243 записей

Далее выпишем значения по шаблону:

```
ключ - количество уникальных значений:
  уникальные значения
```

In [8]:
for key in data_df:
    nunique = data_df[key].nunique()
    print(f"{key} - {nunique}:")
    unique = data_df[key].unique()
    print("  ", unique)

Номер варианта - 1:
   [5]
ID - 10243:
   [1000005 1000025 1000045 ... 1204805 1204825 1204845]
INCOME_BASE_TYPE - 4:
   ['Поступление зарплаты на счет' '2НДФЛ'
 'Форма банка (без печати работодателя)'
 'Свободная форма с печатью работодателя' nan]
CREDIT_PURPOSE - 10:
   ['Покупка недвижимости/ строительство' 'Покупка автомобиля' 'Ремонт'
 'Покупка земли' 'Отпуск' 'Обучение' 'Покупка мебели'
 'Покупка бытовой техники' 'Другое' 'Лечение']
INSURANCE_FLAG - 2:
   [1 0]
DTI - 61:
   [0.26 0.45 0.49 0.38 0.16 0.2  0.41 0.19 0.31 0.43 0.18 0.22 0.47 0.53
 0.21 0.44 0.59 0.35 0.23  nan 0.32 0.55 0.24 0.27 0.37 0.34 0.52 0.56
 0.42 0.29 0.4  0.39 0.36 0.33 0.5  0.57 0.13 0.1  0.48 0.54 0.51 0.28
 0.3  0.46 0.25 0.17 0.58 0.12 0.14 0.08 0.15 0.11 0.03 0.09 0.06 0.01
 0.07 0.04 0.05 0.02 0.6  0.  ]
SEX - 2:
   ['мужской' 'женский']
FULL_AGE_CHILD_NUMBER - 7:
   [ 0  1  3  2  5  4 14]
DEPENDANT_NUMBER - 3:
   [0 2 1]
EDUCATION - 9:
   ['среднее' 'высшее' 'Высшее/Второе высшее/Ученая степень' 'второе высшее'
 '*n.a.*' 'среднее-специальное' 'незаконченное высшее' 'Неполное среднее'
 'ученая степень']
EMPL_TYPE - 9:
   ['рабочий' 'менеджер среднего звена' 'менеджер высшего звена'
 'вспомогательный персонал' 'специалист' 'торговый представитель' 'другое'
 'менеджер по продажам' nan 'страховой агент']
EMPL_SIZE - 8:
   ['>=200' '>250' '>=100' '>100' '< 50' nan '>=150' '>=50' '*n.a.*']
BANKACCOUNT_FLAG - 4:
   [nan  1.  0.  3.  4.]
Period_at_work - 359:
   [ nan  54.  29. 101.  36. 245.  94.  64.  18.  10.   6.  33.  35.  45.
 103.  79.  49.  46.  34.  65.  91. 115. 131.  42.  37.  52.  89.   8.
 122. 148.  13.  27.  11.  17.  31.   7.  84.  26. 177.  90. 117.   9.
  12.  41. 229. 125. 302.  67. 364.  88.  40. 119.  30.  93.  70.  32.
  15. 100. 209.  81.  19.  14.  55.  24. 199.  39. 169.  83. 153. 102.
  57.  53. 162.  74. 127. 176. 189.  77.  21.  82.  20.  28. 121.  68.
  50.  61.  63.  47. 376.  25. 421.  60. 164.  75. 173.  48.  95.  59.
  23.  56.  22. 107.  43.  69. 207. 250.  85. 331.  92. 258.  73.  80.
  16. 113. 120.  58. 129. 110.  78. 106. 126. 116.  99.  86. 438. 191.
 135.  38. 145.  98. 105.  87. 167.  71. 128.  72. 134.  96. 144. 226.
 156. 149. 118.  44. 227. 190. 150. 243. 256. 275. 168. 400. 157. 143.
  66. 202. 219. 420. 140. 266. 286. 269. 136. 147. 206.  51. 108. 124.
 141. 130. 159. 230. 197. 251. 313. 142. 158. 151. 152. 139.  62. 133.
  76. 114. 203. 208. 178. 233. 276. 339. 132. 104. 365. 154. 308. 362.
 163. 193. 171. 138. 174. 123. 214. 186. 215.  97. 288. 244. 260. 289.
 271. 234. 180. 299. 204. 109. 401. 248. 242. 182. 329. 239. 165. 346.
 966. 327. 272. 224. 216. 137. 236. 183. 200. 424. 146. 291. 160. 285.
 184. 232. 357. 259. 222. 257. 247. 383. 201. 192. 185. 194. 196. 112.
 321. 111. 249. 228. 309. 237. 240. 218. 155. 344. 252. 231. 161. 374.
 188. 306. 179. 436. 368. 267. 172. 310. 166. 205. 255. 212. 375. 277.
 254. 282. 241. 318. 359. 354. 223. 211. 324. 312. 399. 278. 361. 290.
 300. 187. 263. 213. 363. 273. 281. 210. 369. 336. 319. 238. 253. 261.
 416. 181. 314. 396. 311. 265. 220. 377. 394. 294. 284. 170. 360. 330.
 347. 221. 225. 217. 198. 355. 381. 317. 274. 320. 293. 326. 405. 373.
 388. 175. 328. 338. 195. 283. 393. 350. 333. 352. 270. 246. 235. 279.
 341. 342. 384. 348. 422. 295. 378. 316. 418. 351.]
age - 40:
   [nan 29. 35. 47. 37. 28. 56. 32. 31. 25. 51. 24. 39. 33. 26. 42. 48. 41.
 30. 40. 27. 50. 43. 36. 38. 46. 49. 54. 52. 34. 45. 58. 44. 55. 53. 23.
 57. 59. 60. 61. 62.]
EMPL_PROPERTY - 12:
   [nan 'Производство' 'Информационные технологии' 'Другое' 'Торговля'
 'Государственная служба' 'Транспорт' 'Наука' 'Финансы' 'Туризм'
 'Строительство' 'Сельское и лесное хозяйство' 'Юридические услуги']
EMPL_FORM - 6:
   [nan 'ООО' 'ОАО' 'Индивидуальный предприниматель' 'ЗАО' 'Иная форма'
 'Государственное предприятие']
FAMILY_STATUS - 6:
   [nan 'холост / не замужем' 'женат / замужем' 'гражданский брак'
 'разведен / разведена' 'повторный брак' 'вдовец / вдова']
max90days - 19:
   [nan  1.  0.  5.  6.  2.  4.  3.  8.  9. 18. 15.  7. 17. 11. 13. 14. 10.
 12. 16.]
max60days - 18:
   [nan  1.  0.  4.  6.  5.  2.  3.  9. 16. 18. 14. 15.  8. 11. 13.  7. 10.
 12.]
max30days - 16:
   [nan  1.  0.  4.  3.  5.  2.  8. 13. 11.  9. 15.  6. 10.  7. 12. 14.]
max21days - 16:
   [nan  1.  0.  3.  5.  2.  4. 13.  6.  9. 15. 10.  7.  8. 12. 14. 11.]
max14days - 15:
   [nan  1.  0.  2.  5.  3.  4.  8.  9. 15.  6. 13.  7. 10. 12. 11.]
avg_num_delay - 1125:
   [       nan 0.         0.19806763 ... 0.18110236 0.30113636 0.17419355]
if_zalog - 2:
   [nan  0.  1.]
num_AccountActive180 - 6:
   [nan  0.  1.  2.  4.  3.  5.]
num_AccountActive90 - 5:
   [nan  0.  2.  1.  3.  4.]
num_AccountActive60 - 5:
   [nan  0.  1.  2.  3.  4.]
Active_to_All_prc - 96:
   [       nan 0.         0.4        0.28571429 0.1        0.5
 0.66666667 0.33333333 1.         0.16666667 0.44444444 0.14285714
 0.75       0.25       0.35714286 0.30769231 0.27272727 0.22222222
 0.06666667 0.3        0.58333333 0.6        0.2        0.11111111
 0.42857143 0.375      0.63636364 0.38888889 0.83333333 0.8
 0.57142857 0.41666667 0.45454545 0.46153846 0.36363636 0.625
 0.21428571 0.26666667 0.55555556 0.23529412 0.77777778 0.125
 0.1875     0.46666667 0.07407407 0.54545455 0.38095238 0.38461538
 0.08333333 0.36842105 0.7        0.30434783 0.53846154 0.05263158
 0.53333333 0.71428571 0.72727273 0.28       0.23076923 0.17647059
 0.15384615 0.47368421 0.27777778 0.29411765 0.11764706 0.4375
 0.35       0.17391304 0.35294118 0.18181818 0.85714286 0.8125
 0.69230769 0.20833333 0.26315789 0.13333333 0.09090909 0.15
 0.3125     0.31578947 0.21052632 0.13043478 0.41176471 0.07692308
 0.45       0.875      0.26086957 0.61538462 0.43478261 0.34782609
 0.64285714 0.15789474 0.22727273 0.31818182 0.58823529 0.10526316
 0.5625    ]
numAccountActiveAll - 12:
   [nan  0.  2.  1.  8.  4.  3.  6.  5.  7.  9. 13. 10.]
numAccountClosed - 22:
   [nan  1.  3.  5.  9.  2.  0. 10.  4.  6. 16.  7. 14.  8. 11. 13. 12. 25.
 18. 15. 20. 19. 17.]
sum_of_paym_months - 336:
   [ nan  61. 151. 166. 106.   4.  17.  18.  14. 197. 196.  37.  57.  82.
  92. 180.  69.   7.  10. 174.  59.  53.  83.  86.  16.  56. 157.  81.
 280.  23.  12. 257. 170.  46. 357.   5. 104.  22.  26.  52.  94. 187.
 121. 108. 198.  20. 103. 233. 160. 200. 289.  44.  71.   9.  15.  43.
 113. 146.  39.  47.  31.  97.  45.  72. 153.  80.  78.  68.  21. 234.
 242. 226. 191.  38.  33. 141.   1.  88. 137. 214.  60.  95. 101.  28.
  70.  96.  32.  50. 100.  29.  75. 130. 169.  11. 138. 123. 109. 148.
   2. 202. 183.  55. 158.  77.  93.  30.  27. 300. 371. 140. 206.  84.
   6. 283.  58.  89. 112. 105.   8. 139.  85.  19.  64.  51. 176. 110.
  36.  49.  41.  42.  54. 118.  79. 281. 223. 107.  24.  74. 189. 135.
  34.  40. 193. 336. 182. 216.  87.  63.   3. 165. 162. 133. 154.  90.
  66.  13. 126.   0.  25. 217.  35. 426.  65. 239.  62. 264. 122. 134.
 120. 201.  91. 298.  48. 231. 119. 115. 152. 218. 452.  76. 312. 232.
 237. 127. 309.  98. 125. 163. 208. 117. 156. 318.  73. 416. 132. 167.
 195. 204. 168.  67. 147. 155. 249. 212. 171. 129. 145. 432. 207. 136.
 143. 224. 102. 114. 184. 441. 131. 124. 199. 178. 353. 303. 346. 339.
 149. 268. 263. 389. 240. 175. 142. 235. 274.  99. 186. 241. 246. 221.
 412. 270. 319. 258. 188. 194. 164. 228. 220. 150. 243. 116. 128. 215.
 261. 229. 296. 159. 279. 144. 393. 269. 329. 192. 177. 327. 190. 161.
 256. 111. 358. 225. 331. 173. 291. 230. 311. 185. 219. 325. 316. 308.
 400. 254. 211. 205. 172. 348. 245. 328. 310. 332. 250. 335. 262. 302.
 179. 253. 361. 330. 399. 209. 338. 288. 294. 292. 290. 213. 376. 295.
 181. 307. 255. 275. 282. 260. 236. 334. 248. 272. 210. 203. 450. 434.
 373. 356. 252. 342. 227. 306. 460. 372. 284. 321. 323. 351. 337. 251.
 315.]
all_credits - 27:
   [nan  1.  5.  7. 10.  2.  3. 12.  6.  4.  9. 14. 13. 22. 15.  8. 11. 18.
 20. 16. 17. 27. 21. 19. 23. 25. 24. 26.]
Active_not_cc - 8:
   [nan  0.  1.  2.  5.  3.  4.  6.  7.]
own_closed - 8:
   [nan  0.  3.  1.  2.  4.  6.  5.  7.]
min_MnthAfterLoan - 101:
   [ nan  66.  49.   7.   5.   6.   3.  10.  25.  29.   0.  23.   4.  21.
  31. 103.  12.  11.   1.  13.  20.  14.   9.  26.  18.  16.  62.  19.
  69.   8.   2.  61.  73.  27.  37.  81.  15.  71.  51.  36.  32.  39.
  33.  70.  58.  84.  17.  30.  74.  22.  41.  -1.  47.  52.  56.  65.
  46.  50.  45.  35.  57.  42.  79.  64.  24.  34.  38.  43.  92.  85.
  28.  48.  67.  72.  93.  55.  60.  97.  75.  44.  40.  80.  87.  94.
  82. 100.  77.  78.  59.  63.  53.  86. 101.  89.  54. 106.  99.  88.
  96. 107.  68.  76.]
max_MnthAfterLoan - 131:
   [ nan  66.  86.  57.   7.  11.  31.  15.  25.  91.  85. 109.  64.  78.
  80.  98.  47. 103.  69.  33.  70.  77.  22.  40.  97.  95.  13.  12.
  74.  94.  92.  46. 106.   5.  54.  16.  62.  19.  43.  82.  18.  72.
  89. 104.  71.  61.  20.  34.  93.  67. 101. 100. 112. 102.  52.  28.
  29.  87.  76.  88.  41.  96.  26.  75.  45. 108.  39.  49.  24.  83.
   2.  53.  30.  58.  79.  36.  44.  84.  10.   1.  35. 105.  37.  42.
  38.  32.  99.  81.  51.  14. 111.   9.  73.   8. 123.  56.  65.  68.
  27.  17.  59.  48. 116. 115.  90.  60.  50.   0. 122.   4.  55.  23.
 110.  21.  63. 126. 171.   3.   6. 107. 118. 132. 120. 124. 113. 137.
 131. 140. 117. 138. 114. 133.]
dlq_exist - 2:
   [nan  0.  1.]
thirty_in_a_year - 2:
   [nan  0.  1.]
sixty_in_a_year - 2:
   [nan  0.  1.]
ninety_in_a_year - 2:
   [nan  0.  1.]
thirty_vintage - 2:
   [nan  0.  1.]
sixty_vintage - 2:
   [nan  0.  1.]
ninety_vintage - 2:
   [nan  0.  1.]